<div class='collection_items'>
	<table class='item_list' cellpadding = 8>
		<thead>
  		<tr class='clickable'>
				<th><%= @collection.attr1 %></th>
				<% unless @collection.attr2.blank? %><th><%= @collection.attr2 %></th> <% end %>	
				<% unless @collection.attr3.blank? %><th><%= @collection.attr3 %></th> <% end %>	
				<% unless @collection.attr4.blank? %><th><%= @collection.attr4 %></th> <% end %>		
				<% unless @collection.attr5.blank? %><th><%= @collection.attr5 %></th> <% end %>	
				<% if @collection.user_id.strip == cookies[:_id] %>
					<th>Delete item</th>
				<% end %>			
					
	</tr>
	</thead>
	<tbody>
		
	<% @items.each do |i| %>	
		<tr>
			<td><%= i.attr1 %></td>
			<% unless i.attr2.blank? %><td><%= i.attr2 %></td> <% end %>	
			<% unless i.attr3.blank? %><td><%= i.attr3 %></td> <% end %>	
			<% unless i.attr4.blank? %><td><%= i.attr4 %></td> <% end %>		
			<% unless i.attr5.blank? %><td><%= i.attr5 %></td> <% end %>
			
			<% if @collection.user_id.strip == cookies[:_id] %>
				<td class='delete_item'><%= link_to image_tag('delete.png', :alt => 'Delete item'), 
			 		i, method: :delete, data: { confirm: 'Are you sure?' }%>	</td>
			<% end %>	
					
		</tr>	


	<% end %>	
	</tbody>
	</table>

</div>