<%= form_for(@collection) do |f| %>
  <% if @collection.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@collection.errors.count, "error") %> prohibited this collection from being saved:</h2>

      <ul>
      <% @collection.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

	<input type='hidden' name='collection[user_id]' value='<%= cookies[:_id] %>'>

  <div class="field">
    <%= f.label :item_type %> <br />
    <%= f.text_field :item_type %> <div class='example'>(e.g., baseball cards)</div>
  </div>

	<!-- TODO: activate each successive attribute after the previous one is filled, to ensure correct sequence -->

  <div class="field">
    <%= f.label 'Attribute 1' %><br />
    <%= f.text_field :attr1 %> <div class='example'>(e.g., player name)</div>
  </div>
  <div class="field">
    <%= f.label 'Attribute 2' %><br />
    <%= f.text_field :attr2 %> <div class='example'>(e.g., brand)</div>
  </div>
  <div class="field">
    <%= f.label 'Attribute 3' %><br />
    <%= f.text_field :attr3 %> <div class='example'>(e.g., year)</div>
  </div>
  <div class="field">
    <%= f.label 'Attribute 4' %><br />
    <%= f.text_field :attr4 %> <div class='example'>(e.g., condition)</div>
  </div>
  <div class="field">
    <%= f.label 'Attribute 5' %><br />
    <%= f.text_field :attr5 %> <div class='example'>(???)</div>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
