

<p id="notice"><%= notice %></p>

<h2>Collection: <%= @collection.item_type %>

<p>
  <b>Item type:</b>
  <%= @collection.item_type %>
</p>

<p>
  	<% unless @collection.attr1.blank?  %>	
  		<b>Attribute 1:</b>
		<%= @collection.attr1 %>
	<% end %>
</p>

<p>
	<% unless @collection.attr2.blank?  %>
  		<b>Attribute 2:</b>
		<%= @collection.attr2 %>
	<% end %>
</p>

<p>
	<% unless @collection.attr3.blank?  %>
  		<b>Attribute 3:</b>
		<%= @collection.attr3 %>
	<% end %>
</p>

<p>
	<% unless @collection.attr4.blank?  %>
  		<b>Attribute 4:</b>
		<%= @collection.attr4 %>
	<% end %>
</p>

<p>
	<% unless @collection.attr5.blank?  %>
  		<b>Attribute 5:</b>
		<%= @collection.attr5 %>
	<% end %>
</p>
