

<p id="notice"><%= notice %></p>


<div class='collection_title'>Collection: <%= @collection.item_type %></div>


<% if @collection.user_id.strip == cookies[:_id] %>
<div class='collection_delete'>
<%= button_to 'Add items', :controller => 'items', :action => 'new', :collection_id => @collection._id %>
<%= button_to 'Delete collection', @collection, method: :delete, data: { confirm: 'Are you sure?' } %>
</div>
<% end %>

<div class='search_box'>
<%= form_tag :action => "search_results" %>
<input type='hidden' name='id' value="<%= @collection._id %>">

<%= submit_tag 'Search' %> for 
<%= text_field_tag 'search_term' %> in

<select name='search_field'>
<% i = 1 %>	
<% @available_fields.each do |f| %>
<% this_attr = "attr" + i.to_s %>
<option value=<%= this_attr %>><%= f %></option>
<% i += 1 %>		
<% end %>
</select>

</div>

<p>
	Click a header to sort the list.  Click an item to see details.
</p>

<%= render :partial => 'collection_items' %>














