


<div style='margin: 20px'>
	<p style="color: green"><%= flash[:notice] %></p>
	
	
	<table cellpadding=8>
	<%= form_tag :action => 'form_login' do %>
	<tr>
	<td>	<h1>Log in </h1></td>
	</tr>
	<tr>
	<td>Username:</td>
	<td><%= text_field_tag 'username', @username %></td>
	</tr>
	<tr>
	 <td>Password:</td>
	 <td><%= password_field_tag 'password', @password %></td>
	</tr>
	<tr>
	 <td><%= submit_tag 'log in' %></td>
	</tr>
		<% end %>

		
		
		
 <% if @theLogin == 'failed' %>
	Login failed. Try again. 
	<% end %>
	
</div>