<p id="notice"><%= notice %></p>

<p>
  <b>User:</b>
  <%= @item.user_id %>
</p>

<p>
  <b>Item type:</b>
  <%= @item.item_type %>
</p>

<p>
  <b>Attr1:</b>
  <%= @item.attr1 %>
</p>

<p>
  <b>Attr2:</b>
  <%= @item.attr2 %>
</p>

<p>
  <b>Attr3:</b>
  <%= @item.attr3 %>
</p>

<p>
  <b>Attr4:</b>
  <%= @item.attr4 %>
</p>

<p>
  <b>Attr5:</b>
  <%= @item.attr5 %>
</p>


<%= link_to 'Edit', edit_item_path(@item) %> |
<%= link_to 'Back', items_path %>
